<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="http://www.yogihosting.com/wp-content/themes/yogi-yogihosting/Images/favicon.ico">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Main/Css")
</head>
<body>
    <div class="container">
        <div id="content">
            @RenderBody()
        </div>
    </div>
</body>
</html>
