<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en" xml:lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
  <title>Contact Us</title>
  <meta name="description" content="BookStore">
  <link href="image/favicon.png" rel="icon" />
  <link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
  <script type="text/javascript" src="js/jquery-1.6.1.min.js"></script>
  <script type="text/javascript" src="js/tabs.js"></script>
  <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
  <script type="text/javascript" src="js/labelify.js"></script>
  <script type="text/javascript" src="js/application.js"></script>
</head>
<body class="common-home">
  <div class="main-shining">
    <p id="back-top" style="display: none; "> <a href="#"><span></span></a> </p>
    <div class="row-1">
      <div id="header">
        <div id="logo">
          <a href="#">
            <img src="" alt="">
          </a>
        </div>
        <ul class="links">
          <li><a href="#" id="wishlist_total">Wish List <span>(0)</span></a></li>
          <li><a href="#">My Account</a></li>
          <li><a href="#">Shopping Cart</a></li>
          <li class="last"><a href="#">Checkout</a></li>
        </ul>
        <div id="cart">
          <div class="cart_inner">
            <div class="heading">
              <span class="sc-button"></span>
              <div class="right-bg">
                <div class="wrapper">
                 <h4>Shopping Cart</h4>
                 <span id="cart_total"><strong>0 item(s)</strong> - Rp. 1.000.000,00</span>
                </div>
              </div>
            </div>
          </div>
          <div class="content" style="display: none; "><div class="empty">Your shopping cart is empty!</div></div>
        </div>
        <div class="menu-bg">
          <ul class="main-menu">
            <li class="first"><a href="home.html">Beranda</a></li>
            <li class="item-1"><a href="about.html">Tentang Kami</a></li>
            <li class="item-2"><a href="#">Delivery</a></li>
            <li class="item-3"><a href="#">Privacy Policy</a></li>
            <li class="item-4"><a href="#">Terms &amp; Conditions</a></li>              
            <li class="item-5"><a href="special.html">Specials</a></li>
            <li class="item-7"><a href="contact.html">Contact Us</a></li>
          </ul>
          <div class="clear"></div>
        </div>
        <div class="search-back">
          <div id="search">
            <div class="button-search">Cari</div>
            <span class="search-bg"> 
              <input type="text" name="filter_name" title="Enter search keywords here" />
            </span>
          </div>
        </div>
        <div id="welcome">Selamat Datang, Anda dapat<a href="#">login</a>atau<a href="#">buat account baru</a></div>
      </div>
    </div>
    <div id="container">
    <div id="notification"> </div>
    <div class="wrap-content"><div id="column-left">

    <div class="box category">
      <div class="box-heading">Kategori</div>
      <div class="box-content">
        <div class="box-category">
          <div class="box-category">
          <ul>
            <li>
              <a href="#">Sepatu 1</a>
            </li>
            <li>
              <a href="#">Sepatu 2</a>
            </li>
            <li>
              <a href="#">Sepatu 3</a>
            </li>
            <li>
              <a href="#">Sepatu 4</a>
            </li>
            <li>
              <a href="#">Sepatu 5</a>
            </li>
            <li>
              <a href="#">Sepatu 6</a>
            </li>
            <li>
              <a href="#">Sepatu 7</a>
              </li>
            <li>
              <a href="#">Sepatu 8</a>
              </li>
            <li>
              <a href="#">Sepatu 9</a>
            </li>                  
          </ul>
        </div>
        </div>
      </div>
    </div>

    <div class="box  bestsellers">
      <div class="box-heading">Terlaris</div>
        <div class="box-content">
          <div class="box-product-2">
            <ul>
              <li>
                <div class="image">
                  <a href="#">
                    <img src="image/afro.jpg" alt="" />
                  </a>
                </div>
                <div class="extra-wrap">
                  <div class="name maxheight-best">
                    <a href="#">Set magna ipsum dolor sit conse</a>
                  </div>
                  <div class="price">
                    <span class="price-new">Rp. 1.000.000,00</span>
                  </div>                              
                </div>
              </li>
              <li>
                <div class="image">
                  <a href="#">
                    <img src="image/afro.jpg" alt="" />
                  </a>
                </div>
                <div class="extra-wrap">
                  <div class="name maxheight-best">
                    <a href="#">Lorem ipsum</a>
                  </div>
                  <div class="price">
                    <span class="price-new">Rp. 1.000.000,00</span>                               
                  </div>                              
                </div>
              </li>
              <li>
                <div class="image">
                  <a href="#">
                    <img src="image/afro.jpg" alt="" />
                  </a>
                </div>
                <div class="extra-wrap">
                  <div class="name maxheight-best">
                    <a href="#">Acicte magna ipsum dolor sit conse </a>
                  </div>
                  <div class="price">
                    <span class="price-new">Rp. 1.000.000,00</span>
                  </div>
                </div>
              </li>
              <li>
                <div class="image">
                  <a href="#">
                    <img src="image/afro.jpg" alt="" />
                  </a>
                </div>
                <div class="extra-wrap">
                  <div class="name maxheight-best">
                    <a href="#">Lorem ipsum amet conse</a>
                  </div>
                  <div class="price">
                    <span class="price-new">Rp. 1.000.000,00</span>
                  </div>
                </div>
              </li>
              <li class="last">
                <div class="image">
                  <a href="#">
                    <img src="image/afro.jpg" alt="" />
                  </a>
                </div>
                <div class="extra-wrap">
                  <div class="name maxheight-best">
                    <a href="#">Eiusmod tempor</a>
                  </div>
                  <div class="price">
                    <span class="price-new">Rp. 9.999.999,00</span>                                 
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
 
    <div id="content">
      <div class="breadcrumb">
        <a href="#">Home</a> » <a href="#" class="last">Contact Us</a>
      </div>
      <h1>Contact Us</h1>
      <form action="#" method="post" id="contact">
        <h2 style="display:none">Our Location</h2>
        <div class="contact-info">
          <div class="content">
            <div class="map-left">      
              <div class="contact-box">
                <b>Alamat:</b>
                <br>
                Jalan Dipati Ukur No. 100,<br>
                Bandung, Jawa Barat.
              </div>
              <div class="contact-box-2">
                <b>Telephone:</b>
                <br>
                0223737099
                <br>
                <b style="margin-top: 20px;">Fax:</b>
                <br>
                +0221234567
              </div>
            </div>
            <div class="map-content"></div>
          </div>
        </div>
    
        <div class="content contact-f">
          <h2>Contact Form</h2>
          <div class="padd-content">   
            <div class="extra-wrap" style="margin-left: 0; width: 100%;"> 
              <div class="contact-form-left">
                <b>First Name:</b>
                <br>
                <input class="q2" type="text" name="name" value="">
                <br>
              </div>
              <div class="contact-form-right">
                <b>E-Mail Address:</b>
                <br>
                <input class="q2" type="text" name="email" value="">
                <br>
              </div>
            </div>
          </div>
          <b>Enquiry:</b>
          <br>
          <textarea name="enquiry" cols="40" rows="10" style="width: 99%;"></textarea>
          <br>
          <b class="cap-p">Enter the code in the box below:</b><br>
          <input type="text" class="capcha" name="captcha" value="">
          <br>
          <div class="buttons">    
            <img src="" alt="">
            <div class="right">
              <a class="button">
                <span>Continue</span>
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="footer-wrap">
      <div id="footer">
        <div class="column">
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Delivery</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms &amp; Conditions</a></li>
          </ul>
        </div>
      </div>
    </div>
  
  
  </div>
</body>
</html>