<div class="register_path">
  <h1>Register Account</h1>
  <div class="register_content">
    <p style="padding-top: 10px;">Silakan mengisi data diri Anda pada form di bawah ini:</p>
		<form action="" id="register">
			<h2>Data Personal:</h2>
			<div class="content">
  			<table class="form">
    			<tbody>
						<tr>
						  <td>
						    <span class="required">*</span> Nama Depan:
						  </td>
						  <td>
						    <input class="q1" type="text" name="firstname" value="">
						  </td>
		        </tr>
		        <tr>
		          <td>
		            <span class="required">*</span> Nama Belakang:
		          </td>
		          <td>
		            <input class="q1" type="text" name="lastname" value="">
		          </td>
		        </tr>
		        <tr>
		          <td>
		            <span class="required">*</span> E-Mail:
		          </td>
		          <td>
		            <input class="q1" type="text" name="email" value="">
		          </td>
		        </tr>
		        <tr>
		          <td>
		            <span class="required">*</span> Telephone:
		          </td>
		          <td>
		            <input class="q1" type="text" name="telephone" value="">
		          </td>
		        </tr>
          </tbody>
        </table>
      </div>

			<h2>Alamat</h2>
			<div class="content">
  			<table class="form">
					<tbody>
						<tr>
						  <td>
						  	<span class="required">*</span> Alamat Lengkap:
						  </td>
						  <td>
						  	<input class="q1" type="text" name="address_1" value="">
						  </td>
						</tr>
						<tr>
						  <td>
						  	<span class="required">*</span> Kode Pos:
						  </td>
						  <td>
						  	<input class="q1" type="text" name="postcode" value="">
						  </td>
						</tr>
  				</tbody>
  			</table>
			</div>

			<h2>Password</h2>
			<div class="content">
				<table class="form">
					<tbody>
						<tr>
							<td>
								<span class="required">*</span> Password:
							</td>
							<td>
								<input class="q1" type="password" name="password" value="">
							</td>
						</tr>
						<tr>
							<td>
								<span class="required">*</span> Konfirmasi Password:
							</td>
							<td>
								<input class="q1" type="password" name="confirm" value="">
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="buttons">
	  		<div class="agree">Saya telah setuju dengan 
	  			<a class="fancybox" href="#" alt="Privacy Policy"><b>Syarat dan Ketentuan</b></a>                
	  			<input style="position: relative; top: 4px;" type="checkbox" name="agree" value="1">
				</div>
			</div>
			<a href="" class="button"><span>Continue</span></a>
		</form>
	</div>
</div>