<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en" xml:lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
  <title>Special</title>
  <meta name="description" content="BookStore">
  <link href="image/favicon.png" rel="icon" />
  <link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
  <script type="text/javascript" src="js/jquery-1.6.1.min.js"></script>
  <script type="text/javascript" src="js/tabs.js"></script>
  <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
  <script type="text/javascript" src="js/labelify.js"></script>
  <script type="text/javascript" src="js/jquery.colorbox.js"></script>
  <script type="text/javascript" src="js/application.js"></script>
</head>
<body class="common-home">
  <div class="main-shining">
    <p id="back-top" style="display: none; "> <a href="#"><span></span></a> </p>
    <div class="row-1">
      <div id="header">
        <div id="logo">
          <a href="#">
            <img src="" alt="">
          </a>
        </div>
        <ul class="links">
          <li><a href="#" id="wishlist_total">Wish List <span>(0)</span></a></li>
          <li><a href="#">My Account</a></li>
          <li><a href="#">Shopping Cart</a></li>
          <li class="last"><a href="#">Checkout</a></li>
        </ul>
        <div id="cart">
          <div class="cart_inner">
            <div class="heading">
              <span class="sc-button"></span>
              <div class="right-bg">
                <div class="wrapper">
                 <h4>Shopping Cart</h4>
                 <span id="cart_total"><strong>0 item(s)</strong> - Rp. 1.000.000,00</span>
                </div>
              </div>
            </div>
          </div>
          <div class="content" style="display: none; "><div class="empty">Your shopping cart is empty!</div></div>
        </div>
        <div class="menu-bg">
          <ul class="main-menu">
            <li class="first"><a href="home.html">Beranda</a></li>
            <li class="item-1"><a href="about.html">Tentang Kami</a></li>
            <li class="item-2"><a href="#">Delivery</a></li>
            <li class="item-3"><a href="#">Privacy Policy</a></li>
            <li class="item-4"><a href="#">Terms &amp; Conditions</a></li>              
            <li class="item-5"><a href="special.html">Specials</a></li>
            <li class="item-7"><a href="contact.html">Contact Us</a></li>
          </ul>
          <div class="clear"></div>
        </div>
        <div class="search-back">
          <div id="search">
            <div class="button-search">Cari</div>
            <span class="search-bg"> 
              <input type="text" name="filter_name" title="Enter search keywords here" />
            </span>
          </div>
        </div>
        <div id="welcome">Selamat Datang, Anda dapat<a href="#">login</a>atau<a href="#">buat account baru</a></div>
      </div>
    </div>
    <div id="container">
    <div id="notification"> </div>
    <div class="wrap-content"><div id="column-left">

    <div class="box category">
      <div class="box-heading">Kategori</div>
      <div class="box-content">
        <div class="box-category">
          <div class="box-category">
          <ul>
            <li>
              <a href="#">Sepatu 1</a>
            </li>
            <li>
              <a href="#">Sepatu 2</a>
            </li>
            <li>
              <a href="#">Sepatu 3</a>
            </li>
            <li>
              <a href="#">Sepatu 4</a>
            </li>
            <li>
              <a href="#">Sepatu 5</a>
            </li>
            <li>
              <a href="#">Sepatu 6</a>
            </li>
            <li>
              <a href="#">Sepatu 7</a>
              </li>
            <li>
              <a href="#">Sepatu 8</a>
              </li>
            <li>
              <a href="#">Sepatu 9</a>
            </li>                  
          </ul>
        </div>
        </div>
      </div>
    </div>

    <div class="box  bestsellers">
      <div class="box-heading">Terlaris</div>
        <div class="box-content">
          <div class="box-product-2">
            <ul>
              <li>
                <div class="image">
                  <a href="#">
                    <img src="image/afro.jpg" alt="" />
                  </a>
                </div>
                <div class="extra-wrap">
                  <div class="name maxheight-best">
                    <a href="#">Set magna ipsum dolor sit conse</a>
                  </div>
                  <div class="price">
                    <span class="price-new">Rp. 1.000.000,00</span>
                  </div>                              
                </div>
              </li>
              <li>
                <div class="image">
                  <a href="#">
                    <img src="image/afro.jpg" alt="" />
                  </a>
                </div>
                <div class="extra-wrap">
                  <div class="name maxheight-best">
                    <a href="#">Lorem ipsum</a>
                  </div>
                  <div class="price">
                    <span class="price-new">Rp. 1.000.000,00</span>                               
                  </div>                              
                </div>
              </li>
              <li>
                <div class="image">
                  <a href="#">
                    <img src="image/afro.jpg" alt="" />
                  </a>
                </div>
                <div class="extra-wrap">
                  <div class="name maxheight-best">
                    <a href="#">Acicte magna ipsum dolor sit conse </a>
                  </div>
                  <div class="price">
                    <span class="price-new">Rp. 1.000.000,00</span>
                  </div>
                </div>
              </li>
              <li>
                <div class="image">
                  <a href="#">
                    <img src="image/afro.jpg" alt="" />
                  </a>
                </div>
                <div class="extra-wrap">
                  <div class="name maxheight-best">
                    <a href="#">Lorem ipsum amet conse</a>
                  </div>
                  <div class="price">
                    <span class="price-new">Rp. 1.000.000,00</span>
                  </div>
                </div>
              </li>
              <li class="last">
                <div class="image">
                  <a href="#">
                    <img src="image/afro.jpg" alt="" />
                  </a>
                </div>
                <div class="extra-wrap">
                  <div class="name maxheight-best">
                    <a href="#">Eiusmod tempor</a>
                  </div>
                  <div class="price">
                    <span class="price-new">Rp. 9.999.999,00</span>                                 
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
 
    <div id="content">
      <div class="breadcrumb">
        <a href="#">Home</a> » <a href="#" class="last">Special Offers</a>
      </div>
      <h1>Special Offers</h1>
      <div class="product-filter">
        <div class="display">
          <b>Display:</b> 
          <div id="list_b"></div> 
          <a id="grid_a" >Grid</a>
        </div>
        <div class="sort">Sort By:      
          <select>
            <option selected="selected">Default</option>
            <option>Name (A - Z)</option>
            <option>Name (Z - A)</option>
            <option>Price (Low &gt; High)</option>
            <option>Price (High &gt; Low)</option>
            <option>Rating (Highest)</option>
            <option>Rating (Lowest)</option>
            <option>Model (A - Z)</option>
            <option>Model (Z - A)</option>
          </select>
        </div> 
        <div class="limit">
          Show:      
          <select>
            <option>12</option>
            <option>25</option>
            <option>50</option>
            <option>75</option>
            <option>100</option>
          </select>
        </div>
        <div class="product-compare">
          <a href="#" id="compare_total">Product Compare (0)</a>
        </div>
      </div>

      <div class="product-list">
        <ul>
          <li>
            <div>
              <div class="right">  
                <div class="price">
                  <span class="price-new">Rp 1.000.000,00</span>
                </div>  
                <div class="cart">
                  <a href="#" class="button">
                    <span>Tambah ke keranjang</span>
                  </a>
                </div>  
                <div class="wishlist">
                  <a class="tip" href="#">Add to Wish List</a>
                  <span class="tooltip">Wishlist</span>
                </div>  
                <div class="compare">
                  <a class="tip2" href="#">Add to Compare</a>
                  <span class="tooltip2">Compare</span>
                </div>
              </div>
              <div class="left">
                <div class="image">
                  <a class="display_image" href="detail.html">
                    <img src="image/afro.jpg" title="Lorem ipsum dolor sit conse" alt="">
                  </a>
                </div>  
                <div class="name">
                  <a class="display_image" href="detail.html">Lorem ipsum dolor sit conse</a>
                </div>  
                <div class="description">
                  <div class="size">
                    <label>Size</label>
                    <select>
                      <option>35</option>
                      <option>36</option>
                      <option>37</option>
                      <option>38</option>
                      <option>39</option>
                      <option>40</option>
                      <option>41</option>
                      <option>42</option>
                    </select>
                  </div>
                  <div class="color">
                    <label>Color</label>
                    <select>
                      <option>Black</option>
                      <option>Brown</option>
                      <option>White</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div>
              <div class="right">  
                <div class="price">
                  <span class="price-new">Rp 1.000.000,00</span>
                </div>  
                <div class="cart">
                  <a href="#" class="button">
                    <span>Tambah ke keranjang</span>
                  </a>
                </div>  
                <div class="wishlist">
                  <a class="tip" href="#">Add to Wish List</a>
                  <span class="tooltip">Wishlist</span>
                </div>  
                <div class="compare">
                  <a class="tip2" href="#">Add to Compare</a>
                  <span class="tooltip2">Compare</span>
                </div>
              </div>
              <div class="left">
                <div class="image">
                  <a class="display_image" href="detail.html">
                    <img src="image/afro.jpg" title="Lorem ipsum dolor sit conse" alt="">
                  </a>
                </div>  
                <div class="name">
                  <a href="detail.html">Lorem ipsum dolor sit conse</a>
                </div>   
                <div class="description">
                  <div class="size">
                    <label>Size</label>
                    <select>
                      <option>35</option>
                      <option>36</option>
                      <option>37</option>
                      <option>38</option>
                      <option>39</option>
                      <option>40</option>
                      <option>41</option>
                      <option>42</option>
                    </select>
                  </div>
                  <div class="color">
                    <label>Color</label>
                    <select>
                      <option>Black</option>
                      <option>Brown</option>
                      <option>White</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div>
              <div class="right">  
                <div class="price">
                  <span class="price-new">Rp 1.000.000,00</span>
                </div>  
                <div class="cart">
                  <a href="#" class="button">
                    <span>Tambah ke keranjang</span>
                  </a>
                </div>  
                <div class="wishlist">
                  <a class="tip" href="#">Add to Wish List</a>
                  <span class="tooltip">Wishlist</span>
                </div>  
                <div class="compare">
                  <a class="tip2" href="#">Add to Compare</a>
                  <span class="tooltip2">Compare</span>
                </div>
              </div>
              <div class="left">
                <div class="image">
                  <a class="display_image" href="detail.html">
                    <img src="image/afro.jpg" title="Lorem ipsum dolor sit conse" alt="">
                  </a>
                </div>  
                <div class="name">
                  <a href="detail.html">Lorem ipsum dolor sit conse</a>
                </div>   
                <div class="description">
                  <div class="size">
                    <label>Size</label>
                    <select>
                      <option>35</option>
                      <option>36</option>
                      <option>37</option>
                      <option>38</option>
                      <option>39</option>
                      <option>40</option>
                      <option>41</option>
                      <option>42</option>
                    </select>
                  </div>
                  <div class="color">
                    <label>Color</label>
                    <select>
                      <option>Black</option>
                      <option>Brown</option>
                      <option>White</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div>
              <div class="right">  
                <div class="price">
                  <span class="price-new">Rp 1.000.000,00</span>
                </div>  
                <div class="cart">
                  <a href="#" class="button">
                    <span>Tambah ke keranjang</span>
                  </a>
                </div>  
                <div class="wishlist">
                  <a class="tip" href="#">Add to Wish List</a>
                  <span class="tooltip">Wishlist</span>
                </div>  
                <div class="compare">
                  <a class="tip2" href="#">Add to Compare</a>
                  <span class="tooltip2">Compare</span>
                </div>
              </div>
              <div class="left">
                <div class="image">
                  <a class="display_image" href="detail.html">
                    <img src="image/afro.jpg" title="Lorem ipsum dolor sit conse" alt="">
                  </a>
                </div>  
                <div class="name">
                  <a href="detail.html">Lorem ipsum dolor sit conse</a>
                </div>   
                <div class="description">
                  <div class="size">
                    <label>Size</label>
                    <select>
                      <option>35</option>
                      <option>36</option>
                      <option>37</option>
                      <option>38</option>
                      <option>39</option>
                      <option>40</option>
                      <option>41</option>
                      <option>42</option>
                    </select>
                  </div>
                  <div class="color">
                    <label>Color</label>
                    <select>
                      <option>Black</option>
                      <option>Brown</option>
                      <option>White</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div>
              <div class="right">  
                <div class="price">
                  <span class="price-new">Rp 1.000.000,00</span>
                </div>  
                <div class="cart">
                  <a href="#" class="button">
                    <span>Tambah ke keranjang</span>
                  </a>
                </div>  
                <div class="wishlist">
                  <a class="tip" href="#">Add to Wish List</a>
                  <span class="tooltip">Wishlist</span>
                </div>  
                <div class="compare">
                  <a class="tip2" href="#">Add to Compare</a>
                  <span class="tooltip2">Compare</span>
                </div>
              </div>
              <div class="left">
                <div class="image">
                  <a class="display_image" href="detail.html">
                    <img src="image/afro.jpg" title="Lorem ipsum dolor sit conse" alt="">
                  </a>
                </div>  
                <div class="name">
                  <a href="detail.html">Lorem ipsum dolor sit conse</a>
                </div> 
                <div class="description">
                  <div class="size">
                    <label>Size</label>
                    <select>
                      <option>35</option>
                      <option>36</option>
                      <option>37</option>
                      <option>38</option>
                      <option>39</option>
                      <option>40</option>
                      <option>41</option>
                      <option>42</option>
                    </select>
                  </div>
                  <div class="color">
                    <label>Color</label>
                    <select>
                      <option>Black</option>
                      <option>Brown</option>
                      <option>White</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        
        <div class="pagination">
          <div class="links"> 
            <b>1</b>  
            <a href="#">2</a>  
            <a href="#">&gt;</a> 
            <a href="#">&gt;|</a> 
          </div>
          <div class="results">Menampilkan 1 sampai 12 dari 13 (2 Halaman)</div>
        </div>
      </div>
    </div>

    <div class="footer-wrap">
      <div id="footer">
        <div class="column">
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Delivery</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms &amp; Conditions</a></li>
          </ul>
        </div>
      </div>
    </div>
  
  
  </div>
</body>
</html>